.img {
  width: 100%;
}
.nitro {
  color: white;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.7;
  transition: 0.5s;
  display: flex;
  align-items: center;
  padding: 5px;
}
.contacte {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: 0.5s;
  margin-right: 10px;
  background-color: aliceblue;
  border-radius: 50%;
  padding: 2px;
}
.facebook:hover {
  color: rgb(9, 187, 255);
}

.facebook:hover .facebook-icon {
  background-color: rgb(99, 187, 255);
}
.insta:hover {
  color: rgb(194, 119, 255);
}

.insta:hover .insta-icon {
  background-color: rgb(194, 119, 255);
}
.phone:hover {
  color: rgb(0, 219, 0);
}

.phone:hover .phone-icon {
  background-color: rgb(0, 219, 0);
}
.location:hover {
  color: yellow;
}

.location:hover .location-icon {
  background-color: yellow;
}
.email:hover {
  color: orange;
}

.email:hover .email-icon {
  background-color: orange;
}
.mobile-menu {
  position: fixed;
  top: 130px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

@media (min-width: 1182px) {
  .nav {
    width: 1182px;
  }
}
@media (max-width: 1181px) {
  .nav {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .head {
    padding-right: 10%;
  }
}
@media (max-width: 899px) {
  .head {
    padding-right: 0;
  }
}
@media (min-width: 700px) {
  .bf {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 699px) {
  .bf {
    flex-direction: column;
    align-items: center;
  }
}
